<!DOCTYPE html>
<html>
  <head>
    <title>Passport Lecture</title>
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./styles/style.css">
  </head>
    <body ng-app="myApp">
      <h1>Passport Register</h1>
      <!-- Set form action and method -->
      <!-- <form action="/register" method="post"> -->
      <form>
        <div>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username"/>
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" name="password" id="password"/>
        </div>
        <div>
          <input type="submit" value="Register"/>
        </div>
      </form>
  </body>
</html>
